html,
body {
  accent-color: white;
  color: $color-primary;
  font-family: $font-main;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
  @media (max-width: 980px) {
    font-size: 13px;
  }
}

//Links
a {
  color: $color-primary;
}
.link-primary {
  color: $color-primary;
}

//Fonts
.font-primary {
  font-family: $font-main;
}
.font-secondary {
  font-family: $font-secondary;
}
.font-tertiary {
  font-family: $font-tertiary !important;
}

.text-primary {
  color: $color-primary;
}
.text-secondary {
  color: $color-secondary;
}

.bg-primary {
  background-color: $color-primary;
}
.bg-secondary {
  background-color: $color-secondary;
}

svg {
  fill: currentColor;
  polyline {
    stroke: currentColor;
  }
  line {
    stroke: currentColor;
  }
}
